@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

header {
  background: var(--white, #FFF);
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 89px 13px 89px;
  margin: 0;
  position: relative;
}
@media (min-width: 1000px) {
  header {
    display: flex;
    height: 96px;
    padding: 30px 0px 31.798px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
}
header h1 {
  font-weight: 400;
  font-size: 30px;
}

.city-info {
  display: flex;
  background-color: #f3f3f3;
  gap: 1rem;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.city-info h2 {
  font-size: 16px;
}

.restaurant-explorer {
  padding-bottom: 4rem;
  text-align: center;
}
.restaurant-explorer h2 {
  margin-top: 2rem;
  font-size: 24px;
}
.restaurant-explorer p {
  font-size: 18px;
  font-weight: 300;
}
.restaurant-explorer button {
  color: white;
  font-size: 16px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.restaurant-explorer button:hover {
  opacity: 0.9;
}

.how-it-works {
  counter-reset: steps;
  margin-bottom: 4rem;
}
.how-it-works h2 {
  padding: 2rem;
}
.how-it-works ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1000px) {
  .how-it-works ol {
    flex-direction: row;
    justify-content: center;
  }
}
.how-it-works li {
  position: relative;
  margin-right: 5vh;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.how-it-works li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 1.7rem;
  height: 1.7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
}
.how-it-works i.fas {
  margin-right: 1rem;
}

#homepage .menus {
  background-color: #f6f6f6;
  padding: 0 2rem 2rem;
  text-align: left;
}
#homepage .menus h2 {
  margin: 0 0 2rem 0.5rem;
  padding-top: 3rem;
}
@media (min-width: 1000px) {
  #homepage .menus h2 {
    margin: 0 0 2rem 0;
  }
}
#homepage .menus .menu__cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 1000px) {
  #homepage .menus .menu__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#homepage .menus .menu__cards .new {
  position: relative;
}
#homepage .menus .menu__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 3rem;
  width: 6rem;
  color: #008766;
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
@media (min-width: 1000px) {
  #homepage .menus .card {
    width: 45vw;
  }
}
#homepage .menus .card__image {
  height: 15rem;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
}
#homepage .menus .card__image-1 {
  background-image: url("./assets/menu-1.jpg");
}
#homepage .menus .card__image-2 {
  background-image: url("./assets/menu-2.jpg");
}
#homepage .menus .card__image-3 {
  background-image: url("./assets/menu-3.jpg");
}
#homepage .menus .card__image-4 {
  background-image: url("./assets/menu-4.jpg");
}
#homepage .menus .card__description {
  position: relative;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  padding: 1rem 1rem 0.5px 0.5px;
}
#homepage .menus .card__description h3,
#homepage .menus .card__description p {
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  margin-top: -0.5rem;
}

footer {
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #353535;
  color: white;
}
@media (min-width: 1000px) {
  footer {
    display: flex;
    gap: 16px;
    margin-right: auto;
    flex-direction: row;
    padding: 2.5rem;
    align-items: center;
  }
  footer .link {
    gap: 32px;
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }
  footer .link .left {
    display: flex;
    font-weight: 500;
    gap: 16px;
  }
  footer .link .right {
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 16px;
    line-height: normal;
  }
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 400;
}
@media (min-width: 1000px) {
  footer h2 {
    order: 1;
    margin-left: 50px;
  }
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#page-resto {
  background-color: #f6f6f6;
}
#page-resto header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  content: "\f060";
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.ma-classe-coeur {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 10px;
  right: 13px;
}
.ma-classe-coeur i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2rem;
  transition: opacity 150ms ease-in-out;
}
.ma-classe-coeur i.far {
  color: #000;
  z-index: 1;
  opacity: 1;
}
.ma-classe-coeur i.fas {
  color: transparent;
  z-index: 2;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
}
.ma-classe-coeur .heart-checkbox {
  display: none;
}
.ma-classe-coeur .heart-checkbox:checked + .ma-classe-coeur i.far {
  opacity: 0;
}
.ma-classe-coeur .heart-checkbox:checked + .ma-classe-coeur i.fas {
  opacity: 1;
}

.ma-classe-coeur-2 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 0;
}
.ma-classe-coeur-2 i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2rem;
  transition: opacity 150ms ease-in-out;
}
.ma-classe-coeur-2 i.far {
  color: #000;
  z-index: 1;
  opacity: 1;
}
.ma-classe-coeur-2 i.fas {
  color: transparent;
  z-index: 2;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
}
.ma-classe-coeur-2 .heart-checkbox {
  display: none;
}
.ma-classe-coeur-2 .heart-checkbox:checked + .ma-classe-coeur i.far {
  opacity: 0;
}
.ma-classe-coeur-2 .heart-checkbox:checked + .ma-classe-coeur i.fas {
  opacity: 1;
}

.titre-container {
  display: block;
}

.titre-container i {
  right: auto;
}

.banner img {
  display: block;
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.resto__title {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 2rem;
}
.resto__title h2 {
  display: flex;
  justify-content: center;
  font-family: "shrikhand", "sans-serif";
  padding: 32px 0 3rem;
  margin-top: -30px;
}

.main-restaurant {
  padding: 0 1rem;
}
@media (min-width: 1000px) {
  .main-restaurant {
    padding: 0 10rem;
  }
}

.menus-grid {
  display: grid;
  margin-bottom: 2rem;
}
@media (max-width: 1000px) {
  .menus-grid {
    grid-template-columns: 1fr;
  }
}
.menus-grid h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 2rem;
}
.menus-grid h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
.menus-grid .menu-group {
  overflow: hidden;
}
.menus-grid .menu-group:nth-of-type(1) .menu-item {
  animation-delay: 100ms;
}
.menus-grid .menu-group:nth-of-type(2) .menu-item {
  animation-delay: 200ms;
}
.menus-grid .menu-group:nth-of-type(3) .menu-item {
  animation-delay: 300ms;
}
.menus-grid .menu-group:nth-of-type(4) .menu-item {
  animation-delay: 400ms;
}
.menus-grid .menu-group .menu-item {
  opacity: 0;
  border-radius: 1rem;
  display: flex;
  background-color: white;
  overflow: hidden;
  margin: 1rem;
  animation: appear 0.7s;
  animation-fill-mode: forwards;
  /* @include box-shadow.shadow; */
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
.menus-grid .menu-group .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus-grid .menu-group .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
}
.menus-grid .menu-group .menu-item .menu-item__description h4,
.menus-grid .menu-group .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .menu-group .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.6s;
}
.menus-grid .menu-group .menu-item .menu-item__check i {
  color: #99E2D0;
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
}
.menus-grid .menu-group .menu-item:hover {
  cursor: pointer;
}
.menus-grid .menu-group .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menus-grid .menu-group .menu-item:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

section.order {
  padding-bottom: 50px;
  display: grid;
  place-items: center;
}
section.order button {
  color: white;
  font-size: 16px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  cursor: pointer;
}
section.order button:hover {
  opacity: 0.9;
}

.loading-indicator-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeOut 100ms ease-in-out 1s forwards;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #9356DC, #FF79DA) 0.9;
  border-image-slice: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
