.banner img {
    // position: relative;
    display: block;
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.resto-main {
    position: relative;
    background: green;
    h2 {
        font-family: "shrikhand","sans-serif";
        padding: 1rem;
    }
}
