@use "../utils/box-shadow.scss";
@use "../utils/mixins.scss";

.explorer {
    padding-bottom: 4rem;
    text-align: center;
    h2 {
     margin-top: 2rem;
     font-size: 24px;
    }
    p {
     font-size: 18px;
     font-weight: 300;
    }
    button {
     @include mixins.base-button;
     @include box-shadow.shadow;
    }
    
 }