footer {
    @media (min-width: 1000px) {
        display: flex;
      /*   justify-content: flex-end;
        align-items: flex-end; */
        flex-direction: row-reverse;
        gap: 16px;
        margin-left: auto;
    }
    
    display: flex;
    padding: 22px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: #353535;
    color: white;
    h2 {
        font-family: "shrikhand", "sans-serif";
        font-weight: 400;
        @media (min-width: 1000px) {
            /* align-self: flex-end; /* Alignement à la fin (droite) du footer */
        /* margin-left: auto; */ 
        }
    }
}