@use "../utils/box-shadow.scss";

.englobe-how-it-works {
    width: 100%;
    display: flex;
    justify-content: center;
}

.how-it-works {
    margin: 0;
    counter-reset: steps;
    margin-bottom: 4rem;
    h2 {
        padding: 2rem;
    }
    & ol {
        display: flex;
        flex-direction: column;
        @media (min-width: 1000px) {
            flex-direction: row;
            justify-content: center;
            margin: 0 4em 4rem;
        }
        gap: 2rem;
    }
    & li {
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: #9356DC;
            width: 1.7rem;
            height: 1.7rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -1rem;
        }
        margin-right: 5vh;
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        border-radius: 1rem;
        @include box-shadow.shadow;
    }
    & i.fas {
        margin-right: 1rem;
    }
}