@use "../utils/mixins.scss";

#homepage 
    .menus {
        background-color: #f6f6f6;
        padding: 0 2rem 2rem;
        /* padding-bottom: 2rem;
        padding-left: 2rem; */
        h2 {
            @media (min-width: 1000px) {
                margin: 0 0 2rem 0;
            }
            margin: 0 0 2rem 0.5rem ;
            /* margin-bottom: 2rem;
            margin-left: 0.5rem; */
            padding-top: 3rem;
        }
    
        .menu__cards {
            display: flex;
            gap: 2rem;
            flex-direction: column;
            @media (min-width: 1000px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
            .new {
                position: relative;
            }
            .new::before {
                content: "Nouveau";
                position: absolute;
                height: 3rem;
                width: 6rem;
                color: #008766;
                background-color: #99E2D0;
                display: grid;
                place-items: center;
                right: 1rem;
                top: 1rem;
            }
        }
    
        .card {
            @media (min-width: 725px) {
                width: 45vw;
            }
            
            &__image {
                height: 15rem;
                border-radius: 15px 15px 0px 0px;
                background-size: cover;
            }
            &__image-1 {
                background-image: url("./assets/menu-1.jpg");
            }
            &__image-2 {
                background-image: url("./assets/menu-2.jpg");
            }
            &__image-3 {
                background-image: url("./assets/menu-3.jpg");
            }
            &__image-4 {
                background-image: url("./assets/menu-4.jpg");
            }
            &__description {
                position: relative;
                border-radius: 0px 0px 15px 15px;
                background-color: white;
                padding: 1rem 1rem 0.5px 0.5px;
                
                    
                
                h3,
                p {
                    padding: 0.3rem 0.3rem 0.3rem 1rem;
                    margin-top: -0.5rem;
                }
                i {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 2rem;
                }

                i.far {
                    color: #000;
                    z-index: 1;
                }

                i.fas {
                    color: transparent; 
                    z-index: 2;
                    background-image: linear-gradient(45deg, #9356DC, #FF79DA);
                    -webkit-background-clip: text;
                    background-clip: text;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                }
                i.fas:hover {
                    opacity: 1;
                }
            
        }
    }

}
