@use "../utils/mixins.scss";

.restaurant-explorer {
    background-color: #f6f6f6;
    padding: 2rem 2rem 4rem;
    text-align: center;

    h2 {
        margin-top: 0;
        font-size: 24px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
    }

    button {
        @include mixins.base-button;
        @include mixins.shadow;
    }

}