@use "../utils/mixins.scss";

#homepage .restaurant-cards-section {
    background-color: #f6f6f6;
    padding: 0 2rem 2rem;
    text-align: left;
    display: flex;
    justify-content: center;

    h2 {
        @media (min-width: 1000px) {
            margin: 0 0 2rem 0;
        }

        margin: 0 0 2rem 0.5rem;
        padding-top: 3rem;
    }

    .restaurant {
        display: flex;
        gap: 2rem;
        flex-direction: column;

        @media (min-width: 1000px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .new {
            position: relative;
        }

        .new::before {
            content: "Nouveau";
            position: absolute;
            height: 3rem;
            width: 6rem;
            color: #008766;
            background-color: #99E2D0;
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
        }
    }

    .card {
        @media (min-width: 1000px) {
            width: 46%;
        }

        &__image img {
            border-radius: 15px 15px 0px 0px;
            width: 100%;
            height: 13rem;
            object-fit: cover;
        }

        &__description {
            position: relative;
            border-radius: 0px 0px 15px 15px;
            background-color: white;
            padding: 1rem 1rem 0.5px 0.5px;



            h3,
            p {
                padding: 0.3rem 0.3rem 0.3rem 1rem;
                margin-top: -0.5rem;
            }
        }
    }

}